<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3F686931D7E9D06002063F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F686AC1D7E9D07002063F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F686B71D7E9D07002063F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
